


    <div class="footer">
        <div>
            <img src="fileadmin/templates/LPMF/Resources/Public/img/logo.svg" alt="">
            
        </div>
        <div>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '8'}" />
            <!-- <span class="footer_topic_header"> -->
                <!-- Le Lycée -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- <f:link.page style="color:#fff;text-decoration:none;" pageUid="17" >Historie</f:link.page> -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- <f:link.page style="color:#fff;text-decoration:none;" pageUid="18" >Les enseignants</f:link.page> -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- <f:link.page style="color:#fff;text-decoration:none;" pageUid="19" >Notre politique</f:link.page> -->
            <!-- </span> -->
        </div>
        <div>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '9'}" />
            <!-- <span class="footer_topic_header"> -->
                <!-- Les formations -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- Métries de l'électricite -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- Systémes numériques -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- Employé de vente spécialisé -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- Bac pro commerce -->
            <!-- </span> -->
        </div>
        <div>
			<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '10'}" />
            <!-- <span class="footer_topic_header"> -->
                <!-- Réseaux sociaux -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- <f:link.external style="color:#fff;text-decoration:none;" uri="https://www.fb.com" target="_blank">Facebook</f:link.external> -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- <f:link.external style="color:#fff;text-decoration:none;" uri="https://www.twitter.com" target="_blank">Twitter</f:link.external> -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- <f:link.external style="color:#fff;text-decoration:none;" uri="https://www.instagram.com" target="_blank">Instagram</f:link.external> -->
            <!-- </span> -->
            <!-- <span> -->
                <!-- <f:link.external style="color:#fff;text-decoration:none;" uri="https://www.youtube.com" target="_blank">Youtube</f:link.external> -->
            <!-- </span> -->
        </div>
	
    </div>
<div class="w-100" style="text-align:center; background-color: #0E1D28; color:#fff; padding-bottom:10px;">Copyright Lycée Pierre Mendes France - <f:link.page style="color:#fff;text-decoration:none;" pageUid="16" >Mentions légales</f:link.page> - Crédits</div>