

    <div class="header">
        
                    
        <f:render partial="Menu" arguments="{_all}" />
        
	<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '4'}" />

        
        <div class="header_advantages">
            <span class="advantages_header">Les avantages du lycée Pierre Mendes France</span>
            <div class="advantages_grid">
                
		<f:cObject typoscriptObjectPath="lib.dynamicContent" data="{colPos: '5'}" />
                
            </div>
        </div>
    </div>